

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.i {
  font-family: inherit;
  font-size: 100px;

  margin: 10px;
}

.icon {
  font-size: 50px;
}
